* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ffffc0;
}
.loader{
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(45deg);
}
.loader span{
  position: absolute;
  display: block;
  border: 15px solid #48294b;
  border-radius: 50%;
  box-shadow: 0 10px 0 #ff3448, inset 0 10px 0 #f498db;
  animation: animate 4.5s ease-in-out infinite;
}
.loader span:nth-child(1){
  animation-delay: 0s;
}
.loader span:nth-child(2){
  animation-delay: 1.5s;
}
.loader span:nth-child(3){
  animation-delay: 3s;
}

@keyframes animate{
  0%{
    transform: translateZ(-100px);
    width: 100%;
    height: 100%;
  }
  25%{
    transform: translateZ(100px);
    width: 100%;
    height: 100%;
  }
  50%{
    transform: translateZ(100px);
    width: 35%;
    height: 35%;
  }
  75%{
    transform: translateZ(-100px);
    width: 35%;
    height: 35%;
  }
  100%{
    transform: translateZ(-100px);
    width: 100%;
    height: 100%;
  }
}
footer{
  position: absolute;
  top: 90%;
  left: 45%;
  text-align: center;
  color: #48294b;
}
